
/* medida de 320px */
.logo-index {
    display: flex;
    justify-content: center;
    margin: 1%; }
    .logo-index a {
      margin: 0%; }
    .logo-index img {
      width: 4rem;
    margin-left: 5%; }

/* PARTE ARRIBA INDEX */

.barra-navegacion{
  padding-top: 10%;
  margin-top: 10%;
}


/* info principal  */
.data{
  background-color: rgb(161, 161, 252);
  text-align: center;
}
.inicio{
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    display: inline-block;
    justify-content: center;
}






/* FOTO INDEX */
.banner-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  position: relative;
}

.banner-inicio img {
  width: 100%;
  height: 330px;
  padding-top: 10px;

  display: block;
  padding-bottom: 40px; }



/* FRASE INDEX */
.frase-inicio{
padding-top: 5%;
padding-bottom: 5%;
text-align: center;
font-size: 20px;
font-style: italic;
font-weight: 400;
margin: 3%;
color:  rgb(161, 161, 252);

}


.video-index {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0px;
  padding-top: 40px;
  padding-bottom: 40px;

  }


  .video-index iframe{
    width: 330px;
    height: 210px;
    padding:3%;
    background-color: rgb(161, 161, 252);
    
  }



/*empieza footer*/
footer {
width: 100%;
height: 100px;
padding-top: 5%;}
  footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 2%;
  padding-left: 0%; }
    footer ul li {
    display: inline-block;
    justify-content: center;
    padding-top: 2rem; }
  



/* cards imagenes*/
.card-group {
  text-align: center;
  justify-content: center;
  padding-right: 5%; }

.contenedor-card {
  padding-left: 5%;
  padding-top: 5%;
  display: block;
  text-align: center;
  justify-content: center;}

.card {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter: drop-shadow(5px 5px 5px silver); }
  .card:hover {
    transition: 0.5s;
    transform: scale(1.1); }

.card-body {
  padding: 15px; }
  .card-body a {
    background-color: white;
    font-size: 20px;
    border-color: white; 
    color: rgb(146, 22, 213);
    font-weight: bold;
    font-style: oblique;
    }

.card-text {
  margin-bottom: 10px; 
  font-weight: 500; 
  font-style: italic;
  color: rgb(146, 22, 213);}

.card-title {
  font-style: italic;
  font-weight: 1rem; }






/*NUESTRA ESCUELA HTML*/

.somos{
  padding: 0px;
  margin-right: 2%;
  margin-left: 2%;
  transition: all .3s ease-in-out;
}
.somos p {
  text-align: center;
  color: #E15FED;
  font-size: 15px;
  font-family:'Roboto Serif', serif;
  margin: 1%;
  margin-right: 2%;
  margin-left: 2%;
  }

.somos:hover{
  background-color: rgb(211, 211, 211);
}


.titulos{
  color: #cc81d3;
  font-style: oblique;
  text-align: center;
  padding: 2%;
}




@media screen and (min-width: 600px){


    .banner-inicio {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; 
      position: relative;}
    
    .banner-inicio img {
      width: 100%;
      height: 600px;
      display: block;
      padding-bottom: 40px; }
    
      .banner-inicio p{
          font-size: 3rem;
          color: white;
          position: absolute;
      }
  
      .video-index {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 40px;
        
        padding-bottom: 80px;
        
        /* computadora video */
        background: url(/img/video-inicio.jpg);
        background-repeat: no-repeat;
        width: 446px;
        height: 341px;
        text-align: center;
        margin: 0px;
        margin-left:15%;
       
        
        
        }
        
        .video-index iframe{
          width: 330px;
          height: 210px;
          top: 4px;
          padding-top: 0%;
          position: relative;
          background-color: black;
          
        }

        .barra-navegacion{
          padding-top: 5%;
          margin-top: 5%;
        }


} 









