.logo-index {
    display: flex;
    justify-content: center;
    margin: 1%; }
    .logo-index a {
      margin: 0%; }
    .logo-index img {
      width: 5rem; }

.inicio{
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    display: inline-block;
    justify-content: center;
}

.data{
    background-color: rgb(161, 161, 252);
    text-align: center;
}

.banner-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    position: relative;}
  
  .banner-inicio img {
    width: 100%;
    height: 500px;
    display: block;
    padding-bottom: 40px; }

    .banner-inicio p{
        font-size: 3rem;
        color: white;
        position: absolute;
        top:20% ;
        left: 10%;
    }

section h2{
  text-align: center;
}

.contenedor{
  display: flex;
}

.contenedor div{
  padding: 12px;
  margin: 4%;
  border: solid 4px black;
  text-align: center;
  border-radius: 10px;
}

.item-1 p{
  margin-top: 10px;
}

.video-index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 80px; }


